
/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}



h1 {
   /* Default font, size, and margins */
}

h2 {
  /* Default font, size, and margins */
}

h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/

.Rectangle-Copy-5 {
  background-color: #fcce00;
  color: #fff;
  font-size: 88px;
  font-weight: 900;
  text-align: center;
  margin: 0 0 8px; 
}

.Rectangle-Copy-6 {
background-color: #ff6b00;
color: #fff;
font-size: 38px;
font-weight: 900;
text-align: center;
margin: 8px 0;
}

.Rectangle-Copy-2 {
  height: 32px;
  background-color: #e02020;
  width: 1440px;
  height: 32px;
  margin: 0 0 8px;
  }

  .Rectangle-Copy-8 {
    height: 16px;
    background-color: #b620e0;
    width: 1440px;
    margin: 8px 0 0;
    }

  .Rectangle-Copy-9 {
    background-color: #6236ff;
    margin: 8px 0 0;
    width: 1440px;
    height: 8px;
    }
/**
* ----------
* Components
* ----------
*/